
@font-face {
  font-family: 'Rajdhani-Semibold';
  src: url('Rajdhani-Semibold.eot?#iefix') format('embedded-opentype'),  url('Rajdhani-Semibold.woff') format('woff'), url('Rajdhani-Semibold.ttf')  format('truetype'), url('Rajdhani-Semibold.svg#Rajdhani-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
